.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: rgba(223, 208, 201, 1);
  padding: 20px;
  width: 90%;
  max-width: 1000px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px;
  position: relative;
  text-align: center;
  color: black;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.popup-image {
  width: 30%;
  height: 250px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  background-color: white;
}

.popup-stats-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}

.popup-stats {
  flex: 1;
  text-align: left;
}

.popup-stats p {
  margin: 5px 0;
  word-wrap: break-word;
}

.popup-buttons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.popup-buttons button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgba(204, 84, 110, 1);
}

.popup-stats .stat {
  margin-bottom: 10px;
}

.popup-stats label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.popup-stats progress {
  width: 80%;
  height: 26px;  /* Reduced the height to make it about 1/3 smaller */
  margin-bottom: 5px;
}

.popup-stats span {
  font-size: 14px;
  display: block;
  text-align: center;
  color: black;  /* Ensures the percentage text is black */
}

/* Align the Read Bio button the same as other buttons */
.bio-button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgba(204, 84, 110, 1);
  margin-top: 3px; /* Keeps the spacing consistent */
  margin-left: -30px; /* Aligns it properly with other buttons */
}

.bio-button:hover {
  background-color: rgba(150, 70, 90, 1);
}

.popup-bio {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  background-color: rgba(223, 208, 201, 1);
  padding: 10px;
  border-radius: 8px;
}

  
  