body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(21, 49, 38, 1);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(21, 49, 38, 1);
    color: rgba(223, 208, 201, 1);
    padding: 10px 20px;
  }
  
  .header-left {
    flex: 0 0 auto;
    display: flex;
    background-color: rgba(190, 220, 252, 1);
    color: black;
    width: 150px;
    border-radius: 5px;
  }

  .header-right {
    flex: 0 0 auto;
    display: flex;
    background-color: rgba(245, 218, 168, 1);
    color: black;
    width: 150px;
    border-radius: 5px;
  }
  
  .header-left p,
  .header-right p {
    margin: 10;
  }
  
  .header-title {
    flex: 1;
    text-align: center;
    margin: 0;
  }
  
  .header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-section {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pet-container {
    width: 100%;
    background-color: rgba(223, 208, 201, 1);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .tab-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab-header button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(223, 208, 201, 1);
    border: 1px solid rgba(175, 162, 154, 1);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .tab-header button.active-tab {
    background-color: rgba(175, 162, 154, 1);
    color: white;
  }
  
  .tab-content {
    text-align: left;
  }
  
  .tab-search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid rgba(175, 162, 154, 1);
    color: black;
    border-radius: 4px;
  }
  
  .pet-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .footer {
    background-color: rgba(21, 49, 38, 1);
    text-align: center;
    padding: 10px 20px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    color: #777;
  }
  